* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	padding-top: 100px;
	justify-content: center;
}

.member__one {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.member__two {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.member__one-card {
	margin-bottom: 50px;
	display: flex;
}

.member__two-card {
	display: flex;
	padding-top: 60px;
}

.name__wrapper {
	padding-top: 15px;
}

.time {
	opacity: 0.5;
}

.chat {
	padding: 15px;
	margin: 15px 0 15px 0;

}

.blue {
	background-color: rgb(77, 143, 204);
	border-radius: 10px 10px 0px 10px;
}

.red {
	background-color: rgb(238, 138, 138);
	border-radius: 10px 10px 10px 0;
}