.list {
	list-style-type: none;
	max-width: 200px;
	margin: 0 auto;
}

.list__item {
	width: 200px;
	padding-top: 15px;
	background-color: grey;
}

.list__img {
	width: 45px;
	vertical-align: middle;

}

.list__text {
	display: inline-block;
	margin: 0 0 25px 35px;
	color: #fff;
}

.list__item:hover {
	background-color: rgb(85, 85, 85);
}